In [29]:
import pandas as pd
import numpy as np

In [30]:
reddit = pd.read_csv('reddit.csv')
stocks = pd.read_csv('stock_quotes.csv')
twitter = pd.read_csv('Twiiter_Faang3.csv')

In [40]:
x = pd.merge(reddit, twitter, how = 'inner', on = ['Date', 'Company'])
x = pd.merge(x, stocks, how = 'inner', on = ['Date', 'Company'])
x.rename(columns = {'Posts': 'Twitter Post Count'}, inplace = True)
x

,Date,Reddit Post Count,Reddit Upvote Sum,Company,Twitter Post Count,Source,Open,Close,Volume
0,20-07-01,1,0,FB,317034,Twitter,228.0,238.0,43399740
1,20-07-02,2,12,FB,297197,Twitter,239.0,233.0,30633620
2,20-07-06,0,0,FB,278204,Twitter,234.0,240.0,26206158
3,20-07-07,1,2,FB,309570,Twitter,239.0,241.0,27887786
4,20-07-08,3,81,FB,338002,Twitter,238.0,244.0,29791340
...,...,...,...,...,...,...,...,...,...
315,20-09-24,0,0,GOOG,1282,Twitter,1411.0,1428.0,1450200
316,20-09-25,1,52,GOOG,1261,Twitter,1433.0,1445.0,1323000
317,20-09-28,0,0,GOOG,1241,Twitter,1474.0,1465.0,2007900
318,20-09-29,2,2083,GOOG,1822,Twitter,1470.0,1469.0,978200
319,20-09-30,0,0,GOOG,1255,Twitter,1467.0,1470.0,1700600

In [54]:
x

,Date,Reddit Post Count,Twitter Post Count,Company,Reddit Upvote Sum,Open,Close,Volume
0,20-07-01,1,317034,FB,0,228.0,238.0,43399740
1,20-07-02,2,297197,FB,12,239.0,233.0,30633620
2,20-07-06,0,278204,FB,0,234.0,240.0,26206158
3,20-07-07,1,309570,FB,2,239.0,241.0,27887786
4,20-07-08,3,338002,FB,81,238.0,244.0,29791340
...,...,...,...,...,...,...,...,...
315,20-09-24,0,1282,GOOG,0,1411.0,1428.0,1450200
316,20-09-25,1,1261,GOOG,52,1433.0,1445.0,1323000
317,20-09-28,0,1241,GOOG,0,1474.0,1465.0,2007900
318,20-09-29,2,1822,GOOG,2083,1470.0,1469.0,978200
319,20-09-30,0,1255,GOOG,0,1467.0,1470.0,1700600

In [55]:
x.to_csv('FinalDataSet.csv')